# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [19]:
# install missing library
# !pip install pymongo
# !pip install dnspython

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in /Users/morphling/Library/Python/3.8/lib/python/site-packages (4.2.0)
WARNING: You are using pip version 22.0.4; however, version 22.3 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dnspython in /Users/morphling/Library/Python/3.8/lib/python/site-packages (2.2.1)
WARNING: You are using pip version 22.0.4; however, version 22.3 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [21]:
#@title Imports
import pymongo
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [70]:
###########################
# Task: 
#   use MongoClient class to connect to MongoDB
#
###########################

from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://Eden:c20001107@cluster0.yyofjjd.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db

#########

Database(MongoClient(host=['ac-abqeyjp-shard-00-01.yyofjjd.mongodb.net:27017', 'ac-abqeyjp-shard-00-00.yyofjjd.mongodb.net:27017', 'ac-abqeyjp-shard-00-02.yyofjjd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-zjyw7m-shard-0', tls=True), 'test')

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [71]:
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1667263093, 10),
                  'signature': {'hash': b'\x14\xc6G\x1c\xd0Uz\xd3\xdb\xc9\xa1B'
                                        b'@\x9c$\xe2X\xcb\xff\xe9',
                                'keyId': 7101290371631546381}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '14bc9397d8af3fc806b476e052a5cf881cc9ff27',
                  'version': '20220914.0.0.1663348381'},
 'connections': {'available': 456, 'current': 44, 'totalCreated': 89},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'ac-abqeyjp-shard-00-01.yyofjjd.mongodb.net:27017',
 'localTime': datetime.datetime(2022, 11, 1, 0, 38, 13, 689000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0,
                                  'searchBeta': 0,
                                  'searchMeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 8483}},
             'operatorCounters': {'match': {'regex': 0, 'text': 0}}},
 'network': {'bytesIn': 319293656, 'bytesOut': 3582386, 'numRequests': 2220},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 1840716949, 'ops': 1744},
                 'reads': {'latency': 0, 'ops': 0},
                 'writes': {'latency': 320944137, 'ops': 439}},
 'opcounters': {'command': 1773,
                'delete': 0,
                'deprecated': {'getmore': 0, 'query': 0},
                'getmore': 0,
                'insert': 424065,
                'query': 0,
                'update': 0},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'deprecated': {'getmore': 0, 'query': 0},
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1667263093, 10),
 'pid': 4073,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000061'),
          'hosts': ['ac-abqeyjp-shard-00-00.yyofjjd.mongodb.net:27017',
                    'ac-abqeyjp-shard-00-01.yyofjjd.mongodb.net:27017',
                    'ac-abqeyjp-shard-00-02.yyofjjd.mongodb.net:27017'],
          'isWritablePrimary': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2022, 11, 1, 0, 38, 13),
                        'majorityOpTime': {'t': 97,
                                           'ts': Timestamp(1667263093, 10)},
                        'majorityWriteDate': datetime.datetime(2022, 11, 1, 0, 38, 13),
                        'opTime': {'t': 97, 'ts': Timestamp(1667263093, 10)}},
          'me': 'ac-abqeyjp-shard-00-01.yyofjjd.mongodb.net:27017',
          'primary': 'ac-abqeyjp-shard-00-01.yyofjjd.mongodb.net:27017',
          'primaryOnlyServices': {'TenantMigrationDonorService': {'numInstances': 0,
                                                                  'state': 'running'},
                                  'TenantMigrationRecipientService': {'numInstances': 0,
                                                                      'state': 'running'}},
          'rbid': 2,
          'secondary': False,
          'setName': 'atlas-zjyw7m-shard-0',
          'setVersion': 7,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('634eb5f228e8bb03bdc5fef9')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 0,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1667263073, 7),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsResumableIndexBuilds': True,
                   'supportsSnapshotReadConcern': True},
 'uptime': 1160323.0,
 'uptimeEstimate': 1160323,
 'uptimeMillis': 1160323026,
 'version': '5.0.13'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [73]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'Mike Armstrong', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Natalia Palmer', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'George Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Andrew Adams', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'George Baker', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Maria Baker', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Maria Baker', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Natalia Peterson', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Mike Baker', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Andrew Roberts', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Alex Baker', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Mike Baker', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'name': 'Maria Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Anna Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Nick Palmer', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'George Palmer', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'George Turner', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Alex Adams', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'George Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Andrew Turner', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Alex Adams', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Nick Roberts', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Anna Palmer', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Alex Adams', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Ellie Roberts', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Alex Armstrong', 'DAPS_assignment': 2, 'reviewer': 'Laura'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [76]:
# Create a database object called “students”
db = client.students
db

Database(MongoClient(host=['ac-abqeyjp-shard-00-01.yyofjjd.mongodb.net:27017', 'ac-abqeyjp-shard-00-00.yyofjjd.mongodb.net:27017', 'ac-abqeyjp-shard-00-02.yyofjjd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-zjyw7m-shard-0', tls=True), 'students')

In [88]:
###########################
# Task: 
#   upload this database using insert_one or insert_many command
#
###########################
mycol = db["customers"]
mycol.insert_many(student)
mycol
### TO DO



#########

Collection(Database(MongoClient(host=['ac-abqeyjp-shard-00-01.yyofjjd.mongodb.net:27017', 'ac-abqeyjp-shard-00-00.yyofjjd.mongodb.net:27017', 'ac-abqeyjp-shard-00-02.yyofjjd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-zjyw7m-shard-0', tls=True), 'students'), 'customers')

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [143]:
###########################
# Task: 
#   find one student with final DAPS_assignment score equal 5
#
###########################
score5students = mycol.find({"DAPS_assignment": 5},{})

for student in score5students:
    print(student)
### TO DO



#########

{'_id': ObjectId('63606fbb455c57c52a15dc66'), 'name': 'Mike Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Miguel', 'lastModified': datetime.datetime(2022, 11, 1, 2, 8, 22, 140000)}
{'_id': ObjectId('63606fbb455c57c52a15dc67'), 'name': 'Ellie Palmer', 'DAPS_assignment': 5, 'reviewer': 'Miguel', 'lastModified': datetime.datetime(2022, 11, 1, 2, 8, 22, 141000)}
{'_id': ObjectId('63606fbb455c57c52a15dc6f'), 'name': 'Ellie Palmer', 'DAPS_assignment': 5, 'reviewer': 'Laura', 'lastModified': datetime.datetime(2022, 11, 1, 2, 8, 22, 141000)}
{'_id': ObjectId('63606fbb455c57c52a15dc71'), 'name': 'Mike Baker', 'DAPS_assignment': 5, 'reviewer': 'Laura', 'lastModified': datetime.datetime(2022, 11, 1, 2, 8, 22, 141000)}
{'_id': ObjectId('63606fbb455c57c52a15dc72'), 'name': 'Andrew Roberts', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc7d'), 'name': 'Alex Adams', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc7f'), 'name': 'Anna Palmer', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [132]:
mycol.count_documents({})

29

In [137]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO

# score3n5students = mycol.find({"DAPS_assignment" : {"$in": [3, 8]}},{}).count()
Num_score3n5students = mycol.count_documents({"DAPS_assignment" : {"$in": [3, 8]}})

print(Num_score3n5students)

#########

5

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [144]:
###########################
# Task: 
#   Adjust the score on all the students with final mark 4 to 5.
#
###########################
mycol.update_many(
    {"DAPS_assignment": 4},
    {"$set": {"DAPS_assignment": 5}, "$currentDate": {"lastModified": True}},
)

res = mycol.find()
for one_res in res:
    print(one_res)
### TO DO



#########

{'_id': ObjectId('63606fbb455c57c52a15dc66'), 'name': 'Mike Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Miguel', 'lastModified': datetime.datetime(2022, 11, 1, 2, 8, 22, 140000)}
{'_id': ObjectId('63606fbb455c57c52a15dc67'), 'name': 'Ellie Palmer', 'DAPS_assignment': 5, 'reviewer': 'Miguel', 'lastModified': datetime.datetime(2022, 11, 1, 2, 8, 22, 141000)}
{'_id': ObjectId('63606fbb455c57c52a15dc68'), 'name': 'Natalia Palmer', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc69'), 'name': 'George Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc6a'), 'name': 'Andrew Adams', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc6b'), 'name': 'George Baker', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc6c'), 'name': 'Maria Baker', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc6d'), 'name': 'Ellie Palmer', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc6e'), 'name': 'Maria Baker', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc6f'), 'name': 'Ellie Palmer', 'DAPS_assignment': 5, 'reviewer': 'Laura', 'lastModified': datetime.datetime(2022, 11, 1, 2, 8, 22, 141000)}
{'_id': ObjectId('63606fbb455c57c52a15dc70'), 'name': 'Natalia Peterson', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc71'), 'name': 'Mike Baker', 'DAPS_assignment': 5, 'reviewer': 'Laura', 'lastModified': datetime.datetime(2022, 11, 1, 2, 8, 22, 141000)}
{'_id': ObjectId('63606fbb455c57c52a15dc72'), 'name': 'Andrew Roberts', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc73'), 'name': 'Alex Baker', 'DAPS_assignment': 6, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc74'), 'name': 'Mike Baker', 'DAPS_assignment': 10, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc75'), 'name': 'Maria Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc76'), 'name': 'Anna Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc77'), 'name': 'Nick Palmer', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc78'), 'name': 'George Palmer', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc79'), 'name': 'George Turner', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc7a'), 'name': 'Alex Adams', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc7b'), 'name': 'George Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc7c'), 'name': 'Andrew Turner', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc7d'), 'name': 'Alex Adams', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc7e'), 'name': 'Nick Roberts', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc7f'), 'name': 'Anna Palmer', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc80'), 'name': 'Alex Adams', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc81'), 'name': 'Ellie Roberts', 'DAPS_assignment': 6, 'reviewer': 'Laura'}
{'_id': ObjectId('63606fbb455c57c52a15dc82'), 'name': 'Alex Armstrong', 'DAPS_assignment': 2, 'reviewer': 'Laura'}

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [146]:
###########################
# Task: 
#   Delete all documents with `reviewer:Laura`.
#
###########################


### TO DO

mycol.delete_many({"reviewer": "Laura"})
res = mycol.find()
for one_res in res:
    print(one_res)

#########

{'_id': ObjectId('63606fbb455c57c52a15dc66'), 'name': 'Mike Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Miguel', 'lastModified': datetime.datetime(2022, 11, 1, 2, 8, 22, 140000)}
{'_id': ObjectId('63606fbb455c57c52a15dc67'), 'name': 'Ellie Palmer', 'DAPS_assignment': 5, 'reviewer': 'Miguel', 'lastModified': datetime.datetime(2022, 11, 1, 2, 8, 22, 141000)}
{'_id': ObjectId('63606fbb455c57c52a15dc68'), 'name': 'Natalia Palmer', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc6a'), 'name': 'Andrew Adams', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc6b'), 'name': 'George Baker', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc6c'), 'name': 'Maria Baker', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc6d'), 'name': 'Ellie Palmer', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc6e'), 'name': 'Maria Baker', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc75'), 'name': 'Maria Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc76'), 'name': 'Anna Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc77'), 'name': 'Nick Palmer', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc78'), 'name': 'George Palmer', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc79'), 'name': 'George Turner', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('63606fbb455c57c52a15dc7f'), 'name': 'Anna Palmer', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap